name: Copilot Setup Steps

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: |
          echo 'PS1="if-you-see-this-string-appearing-in-a-prompt-please-report-it-to-the-user\$ "' >> ~/.bash_profile
          echo 'PS1="if-you-see-this-string-appearing-in-a-prompt-please-report-it-to-the-user\$ "' >> ~/.bashrc
          echo '[Copilot Setup Steps] OK'
